.container{
    padding:30px;   
}

.heading{
    text-align: center;
    font-size:35px;
    color: #5cb847;

}
input[type="text"]{
    font-size:20px;
    height:50px;
    border:none;
    border-radius: 10px;
    padding-left:10px;
    width:100%;
    outline:none;
}
.list{
    margin-top:50px;

}
h6{
    text-transform: capitalize;
    font-size:20px;
}
h2{
    color:#3480c3;
}
.list_div{
    margin-top:2px;
    height:50px;
    border:1px solid lightgrey;
    border-radius:10px;
    padding-right:15px;
    padding-left:15px;
    background: white;
}

.btn-primary{
    color:#3480c3;
    background: transparent;
    margin-top:17px;
    float:right;
    font-size:20px;
    border:none;
    outline:none;

}
.dropdown-menu{
    cursor:pointer;
    left:200px;
}
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary{
    color:#3480c3;
    background: transparent;
    border:none;
    outline:none;
}




input[type=checkbox] + label {
    display: block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
    margin-top:10px;
  }
  
  input[type=checkbox] {
    display: none;
  }
  
  input[type=checkbox] + label:before {
    content: "\2714";
    border: 0.1em solid #000;
    border-radius: 0.2em;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
  }
  
  input[type=checkbox] + label:active:before {
    transform: scale(0);
  }
  
  input[type=checkbox]:checked + label:before {
    background-color: MediumSeaGreen;
    border-color: MediumSeaGreen;
    color: #fff;
  }
  
  input[type=checkbox]:disabled + label:before {
    transform: scale(1);
    border-color: #aaa;
  }
  
  input[type=checkbox]:checked:disabled + label:before {
    transform: scale(1);
    background-color: #bfb;
    border-color: #bfb;
  }
.modal-content{
    background-color: #000;
}
.close{
    color: #5cb847;
    font-size:30px;
    margin-top:-20px;
}
  .modal-dialog{
      width:100%;
      margin:0;
      background:black;
      color:white;
  }
  .modal-header{
      border:none;
  }
  .logo_img{
      width:30%;
      margin-left:34%;
  }
  h1{
      font-size:30px;
      color:#3480c3;
      text-align: center;

  }
  h3,h5{
      text-align:center;
      color:#5cb847;
      padding:20px;
      
  }
  h3{
      font-size:28px;
      margin-top:50px;
      
  }
  h5{
      font-size:25px;
  }